@media only screen and (max-width: 768px) {
    #logotipo {
        z-index: 34;
    }
    .header-black {
        position: fixed;
        width: 100%;
        z-index: 23;
    }

    .header-black ul, #menu {
        display: none;
    }

    #logotipo {
        right: calc(65% - 146px);
    }
    #btn-bars, #btn-search {
        display: block;
        font-size: 22px;
        position: absolute;
        top: 4px;
        color: #fff;
        background: none;
        border: none;
        outline: 0;
    }

    #btn-bars {
        left: 6px;
    }
    #btn-search {
        right: 6px;
    }
    #banner {
        height: 317px;
        background-size: cover;
        background-position: 0;
        text-align: center;
    }

    #banner h1{
        top: 140px;
        font-size: 48px;
        margin-left: 0;
    }
    
    #banner h1 small{
        font-size: 22px;
    }
}

@media only screen and (max-width:480px) {
    .header-black ul, #menu{
        display: none;
    }
    #logotipo {
        left: 32%;
        transition: 1s;
    }
    #btn-bars, #btn-search {
        display: block;
        font-size: 22px;
        position: absolute;
        top: 4px;
        color: #fff;
        background: none;
        border: none;
        outline: 0;
    }

    #btn-bars {
        left: 6px;
    }
    #btn-search {
        right: 6px;
    }

    #banner {
        height: 317px;
        background-size: cover;
        background-position: 0;
        text-align: center;
    }

    #news {
        margin-top: -85px;
    }

    #news h2 {
        font-size: 32px;
    }

    #news hr {
        border: #fde192 solid 3px;
    }

    #news .thumbnails .item-inner img {
        width: 85%;
        margin: auto;
    }

    .owl-carousel .owl-stage-outer {
        overflow: hidden;
        margin-left: 16px;
    }

    #news .thumbnails h3 {
        text-align: center;
    }

    #news .thumbnails time {
        display: block;
        text-align: center;
    }
    #btn-news-prev,  #btn-news-next {
        display: block;
        background: none;
        border: none;
        font-size: 48px;
        position: absolute;
        color: #5e299a;
        z-index: 22;
        outline: 0;
    }

    #btn-news-next {
        right: 0;
        top: 500px;
        margin-right: 12px;
    }
    #btn-news-prev{
        top: 502px;
        margin-left: -2px;
    }
    #estatisticas {
        height: inherit;
    }
    #estatisticas p {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #call-to-action {
        margin-top: 69px;
    }

    #call-to-action hr {
        border: solid #fde192 3px;
    }
    #call-to-action h2 {
        font-size: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #call-to-action p {
        margin-left: 15px;
        margin-right: 15px;
    }
    #call-to-action .btn-roxo {
        float: left;
    }
    #call-to-action .btn-amarelo {
        float: right;
        margin-left: 10px;
    }

    footer {
        margin-top: 60px;
    }

    .copyright-mobile .float-left {
       float: inherit!important;
    }

    .copyright-mobile p {
        font-size: 12px;
        line-height: 10px;
    }

    footer .row p:first-child{
        text-align: center;
        margin-top: 10px;
    }
    footer .row{
        margin: 0;
    }
    footer .row p {
        line-height: 20px;
    }

    footer .list-socials{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    footer .list-socials a{
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }

    footer .list-socials i {
        font-size: 20px;
        line-height: 11px;
        margin: 16px auto;
    }

    footer .btn-footer {
        width: 135px;
        background-color: #11171d;
        height: 44px;
        line-height: 30px;
    }

    header #menu-mobile {
        position: fixed;
        top: 40px;
        background-color: #fff;
        width: 80%;
        height: 100%;
        left: -80%;
        transition: all ease 1s;
        z-index: 30;
    }

    header.open-menu #menu-mobile {
        left: 0;
    }

    header.open-menu #menu-mobile-mask {
        position: fixed;
        background-color: rgb(0, 0, 0, .7);
        width: 100%;
        height: 100%;
        z-index: 25;
        top: 40px;
    }

    header.open-menu #logotipo {
        position: fixed;
        top: 50px;
        height: 100px;
        left: calc(40% - 43.83px);
    }

    header.open-menu #menu-mobile ul {
       margin: 20px;
       margin-top: 140px;
    }

    header.open-menu #menu-mobile li {
        text-align: center;
        border-top: #ccc solid 1px;
        list-style-type: none;
    }
    header.open-menu #menu-mobile li:last-child {
        border-bottom: #ccc solid 1px;
    }

    header.open-menu #menu-mobile a {
        color: #633392;
        font-family: 'OpenSans';
        font-size: 16px;
        font-weight: bold;
        padding: 18px;
        display: block;        
    }

    header.open-menu .bar-close {
        position: absolute;
        bottom: 40px;
        background-color: #633392;
        height: 43px;
        width: 100%;
    }

    header.open-menu .bar-close .btn-close {
        background: none;
        border: none;
        color: #fff;
        font-size: 22px;
        margin-top: 0px;
    }

    header #input-search-mobile {
        top: -40px;
        position: fixed;
        width: 70%;
        left: 15%;
        background-color: #000;
        height: 40px;
        border: none;
        outline: 0;
        color: #fff;
        transition: 1s;
    }

    header.open-search #input-search-mobile {
        top: 0;
    }

    header.open-search #logotipo {
        z-index: 10;
    }

}