@media only screen and (max-width: 768px) {
    .header-black ul, #menu {
        display: none;
    }

    #logotipo {
        right: calc(65% - 146px);
    }
    #btn-bars, #btn-search {
        display: block;
        font-size: 22px;
        position: absolute;
        top: 4px;
        color: #fff;
        background: none;
        border: none;
        outline: 0;
    }

    #btn-bars {
        left: 6px;
    }
    #btn-search {
        right: 6px;
    }
    #banner {
        height: 317px;
        background-size: cover;
        background-position: 0;
        text-align: center;
    }

    #banner h1{
        top: 140px;
        font-size: 48px;
        margin-left: 0;
    }
    
    #banner h1 small{
        font-size: 22px;
    }
}

@media only screen and (max-width:480px) {
    .header-black ul, #menu{
        display: none;
    }
    #logotipo {
        left: 32%;
    }
    #btn-bars, #btn-search {
        display: block;
        font-size: 22px;
        position: absolute;
        top: 4px;
        color: #fff;
        background: none;
        border: none;
        outline: 0;
    }

    #btn-bars {
        left: 6px;
    }
    #btn-search {
        right: 6px;
    }

    #banner {
        height: 317px;
        background-size: cover;
        background-position: 0;
        text-align: center;
    }

    #news {
        margin-top: -85px;
    }

    #news h2 {
        font-size: 32px;
    }

    #news hr {
        border: #fde192 solid 3px;
    }

    #news .thumbnails .item-inner img {
        width: 85%;
        margin: auto;
    }

    .owl-carousel .owl-stage-outer {
        overflow: hidden;
        margin-left: 16px;
    }

    #news .thumbnails h3 {
        text-align: center;
    }

    #news .thumbnails time {
        display: block;
        text-align: center;
    }

}