@font-face{
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-size: 1em;
}

@font-face{
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height:150px;
    background-color: #5e299ae3;
}

header .header-black{
    background-color: #000;
    height: 40px;
}

.header-black li {
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}

.header-black li.club-01 {
   background-position: 0px 0px;
}

.header-black li.club-02 {
    background-position: -48px 0;
}
.header-black li.club-03 {
    background-position: -91px 0;
}

.header-black li.club-04 {
    background-position: -138px 0;
}

.header-black li.club-05 {
    background-position: -188px 0;
}
.header-black li.club-06 {
    background-position: -238px 0;
}
.header-black li.club-07 {
    background-position: -288px 0;
}
.header-black li.club-08 {
    background-position: -333px 0;
}
.header-black li.club-09 {
    background-position: -378px 0;
}
.header-black li.club-10 {
    background-position: -428px 0;
}
.header-black li.club-11 {
    background-position: -480px 0;
}
v
.header-black li.club-12 {
    background-position: -527px 0;
}

.header-black li.club-13 {
    background-position: -578px 0;
}
.header-black li.club-14 {
    background-position: -628px 0;
}
.header-black li.club-15 {
    background-position: -675px 0;
}
.header-black li.club-16 {
    background-position: -716px 0;
}
.header-black li.club-17 {
    background-position: -761px 0;
}
.header-black li.club-18 {
    background-position: -803px 0;
}
.header-black li.club-19 {
    background-position: -856px 0;
}
.header-black li.club-20 {
    background-position: -901px 0;
}
.header-black li.club-21 {
    background-position: -948px 0;
}
.header-black li.club-22 {
    background-position: -995px 0;
}
.header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}


#logotipo{
    position: absolute;
    top: 15px;
}

#menu {
    display: inline-block;
    margin: 20px 0;
}

#menu li {
    display: inline-block;
    font-family: "Open-Sans";
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: bold;
}

#menu li.search button  {
    background: none;
    border: none;
    position: absolute;
    right: 3px;
}

#menu li.search button i {
 font-size: 14px;
 color: rgba(255, 255, 255, .5);
}

#menu li.search {
    width: 182px;
}
#menu li.search ::-webkit-input-placeholder{
    color: #fff;
}
#menu li.search input {
    background-color: #5C2D90;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url(../img/banner.jpg) no-repeat center center;
    z-index: -3;
    top: -110px;
}

#banner h1 {
    color: #fff;
    top: 300px;
    font-size: 92px;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    font-family: "OpenSans-Light";
    margin-left: 50px;
}

#banner h1 small{
    font-size: 32px;
    display: block;
    color: #fff;
    font-family: "OpenSans";
    font-weight: bold;
}

#news h2 {
    color: #5E2799;
    font-family: "OpenSans-Light";
    font-size: 48px;
    text-transform: uppercase;
}

#news hr {
    border: #fde192 solid 2px;
    width: 200px;
    margin: 0 auto;
}

#news .thumbnails {
    margin-top: 20px;
}

#news .thumbnails h3 {
    color: #5e299a;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 0px;
}

#news .thumbnails time {
    color: #a7a7a7;
    font-size: 18px;
    font-family: "OpenSans";
}