@font-face{
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-size: 1em;
}

@font-face{
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height:150px;
    background-color: #5e299ae3;
}

header .header-black{
    background-color: #000;
    height: 40px;
}

.header-black li {
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}

.header-black li.club-01 {
   background-position: 0px 0px;
}

.header-black li.club-02 {
    background-position: -48px 0;
}
.header-black li.club-03 {
    background-position: -91px 0;
}

.header-black li.club-04 {
    background-position: -138px 0;
}

.header-black li.club-05 {
    background-position: -188px 0;
}
.header-black li.club-06 {
    background-position: -238px 0;
}
.header-black li.club-07 {
    background-position: -288px 0;
}
.header-black li.club-08 {
    background-position: -333px 0;
}
.header-black li.club-09 {
    background-position: -378px 0;
}
.header-black li.club-10 {
    background-position: -428px 0;
}
.header-black li.club-11 {
    background-position: -480px 0;
}
v
.header-black li.club-12 {
    background-position: -527px 0;
}

.header-black li.club-13 {
    background-position: -578px 0;
}
.header-black li.club-14 {
    background-position: -628px 0;
}
.header-black li.club-15 {
    background-position: -675px 0;
}
.header-black li.club-16 {
    background-position: -716px 0;
}
.header-black li.club-17 {
    background-position: -761px 0;
}
.header-black li.club-18 {
    background-position: -803px 0;
}
.header-black li.club-19 {
    background-position: -856px 0;
}
.header-black li.club-20 {
    background-position: -901px 0;
}
.header-black li.club-21 {
    background-position: -948px 0;
}
.header-black li.club-22 {
    background-position: -995px 0;
}
.header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}


#logotipo{
    position: absolute;
    top: 15px;
    z-index: 4;
}

#btn-bars, #btn-search {
    display: none; 
}

#menu {
    display: inline-block;
    margin: 20px 0;
}

#menu li {
    display: inline-block;
    font-family: "Open-Sans";
}

#menu li a{
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: bold;
}

#menu li a:hover{
    text-decoration: underline;
}

#menu li.search button  {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 0px;
    top: -2px;
    display: block;
}

#menu li.search button i {
 font-size: 14px;
 color: rgba(255, 255, 255, .5);
}

#menu li.search {
    width: 182px;
    transition: 1s;
}

#menu li.search.ativo {
    width: 300px;
}

#menu li.search ::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.699);
    padding-left: 20px;
}
#menu li.search input {
    background-color: #5C2D90;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
    outline: none;
}

#menu li.search.ativo input {
    background-color: #5C2D90;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
    width: 300px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url(../img/banner.jpg) no-repeat center center;
    z-index: -3;
    top: -110px;
}

#banner h1 {
    color: #fff;
    top: 300px;
    font-size: 92px;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    font-family: "OpenSans-Light";
    margin-left: 50px;
}

#banner h1 small{
    font-size: 32px;
    display: block;
    color: #fff;
    font-family: "OpenSans";
    font-weight: bold;
}

#news h2 {
    color: #5E2799;
    font-family: "OpenSans-Light";
    font-size: 48px;
    text-transform: uppercase;
}

#news hr {
    border: #fde192 solid 8px;
    width: 200px;
    margin: 0 auto;
}

#news .thumbnails {
    margin-top: 20px;
}

#news .thumbnails h3 {
    color: #5e299a;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 0px;
}

#news .thumbnails time {
    color: #a7a7a7;
    font-size: 18px;
    font-family: "OpenSans";
}

#news .thumbnails .item-inner {
    padding: 10px;
}

#news .thumbnails .item-inner img {
    width: 100%;
}

#btn-news-prev,  #btn-news-next {
    display: none;
}

#estatisticas {
    margin-top: 80px;
    background-color: #5e299a;
    width: 100%;
    height: 200px;
}

#estatisticas p{
    color: #fde092;
    text-transform: uppercase;
    font-size: 64px;
    font-family: "OpenSans-Light";
    margin-top: 36px;
}

#estatisticas p small {
    color: #fff;
    font-size: 24px;
    display: block;
}



#call-to-action h2 {
    color: #5E2799;
    font-family: 'OpenSans-Light';
    font-size: 48px;
}

#call-to-action hr {
    border: #fde192 solid 8px;
    width: 200px;
    margin: 0 auto;
}

#call-to-action {
    margin-top: 105px;
}

#call-to-action p {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #656565;
    text-align: center;
}

#call-to-action .btn {
    min-width: 164px;
    height: 44px;
    border-radius: 0;
}

#call-to-action .btn-roxo {
    color: #fff;
    background-color: #5e299a;
    border-color: #5e299a;
}

#call-to-action .btn-amarelo {
    color: #000;
    background-color: #fde192;
    border-color: #fde192;
    margin-left: 40px;
}

footer {
    margin-top: 110px;
}

footer .row {
    width: 100%;
    margin-left: 0px;
}

footer .row-cinza-claro{
    height: 200px;
    background-color: #171f26;
}

footer .row-cinza-escuro{
    height: 60px;
    background-color: #11171d;
}

footer .row p {
    line-height: 60px;
    margin-bottom: 0px;
}
footer .float-left {
    color: #666;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

footer .text-roxo {
    color: #623291;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

footer .logotipo {
    margin-top: 28px;
}

footer .col-popular-post,
footer .col-get-in-touch,
footer .col-links {
    margin-top: 40px;
}

footer .row-cols h4{
    color: #fff;
    font-family: 'OpenSans';
    font-size: 16px;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
    text-transform: uppercase;
}

footer .row-cols h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .row-cols ul {
    list-style: none;
}

footer .row-cols time {
    color: #fde092;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links .fa {
    margin: 0 6px;
}

footer .col-links a {
    color: #fff;
    font-size: 14px;
    font-family: Arial;
   
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}

footer .col-get-in-touch a {
    color: #666;
}

footer .col-get-in-touch address {
    color: #666;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 0px;
}

footer .col-get-in-touch address span {
    display: inline-block;
}

footer .col-get-in-touch i {
    color: #9b9b9b;
    font-size: 20px;
    margin: 0 6px;
}

footer .col-get-in-touch p {
    line-height: 20px;
}

footer .list-socials {
    margin-top: 4px;
}

footer .list-socials a {
    display: block;
    border: #9b9b9b 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}

footer .list-socials i {
    font-size: 16px;
    margin: 6px auto;
}

footer .list-socials li {
   display: inline-block;
   margin-right: 8px;
}

/* Loja */

.text-arial-cinza {
    color: #666;
    font-family: Arial;
    font-size: 12px;
}

.text-roxo {
    color: #6E3EA4;
}

#destaque-produtos-container {
    position: relative;
    margin-top: 60px;
}

#destaque-produtos .col-imagem {
    text-align: center;
}
#destaque-produtos .col-imagem img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#destaque-produtos .col-descricao h2 {
    font-family: Arial;
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}

#destaque-produtos .col-descricao .box-valor {
    width: 100%;
    position: relative;
}

#destaque-produtos .col-descricao .box-valor .text-reais {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    left: 28px;
}

#destaque-produtos .col-descricao .box-valor .text-valor {
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: 50px;
}

#destaque-produtos .col-descricao .box-valor .text-valor-centavos {
    font-size: 30px;
    position: absolute;
    top: -12px;
    left: 170px;
}

#destaque-produtos .col-descricao .box-valor .text-parcelas {
    margin-top: 20px;
}

#destaque-produtos .col-descricao .btn-comprar {
    font-size: 26px;
    padding: 10px 0;
}

#destaque-produtos .col-descricao .btn-comprar .fa{
    font-size: 34px;
}

#btn-destaque-prev {
    position: absolute;
    top: 80px;
    left: 0;
    background: none;
    border: none;
    font-size: 64px;
    z-index: 10;
    outline: 0;
}

#btn-destaque-next {
    position: absolute;
    top: 80px;
    right: 0;
    background: none;
    border: none;
    font-size: 64px;
    z-index: 10;
    outline: 0;
}

#promocoes{
margin-top: 30px;
}
#promocoes .box-promocao {
    background-color: #5C2D90;
    width: 100%;
    height: 150px;
    color: #fff;
    position: relative;
    text-align: center;
}

#promocoes .box-promocao.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}

#promocoes .box-promocao .text-ate{
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    position: absolute;
    top: 5px;
    left: 15px;
}
#promocoes .box-promocao .text-numero{
    font-size: 128px;
    font-family: 'OpenSans-Light';
    position: absolute;
    top: -10px;
    left: 15px;
}
#promocoes .box-promocao .text-porcento{
    font-size: 64px;
    font-family: 'OpenSans';
    position: absolute;
    top: 15px;
    right: 10px;
}
#promocoes .box-promocao .text-off{
    font-size: 42px;
    font-family: 'OpenSans-Light';
    position: absolute;
    top: 78px;
    right: 10px;
}